*.tar.xz filter=lfs diff=lfs merge=lfs -text
SalmonellaLitchfield.FAST5.tar.xz filter=lfs diff=lfs merge=lfs -text
unpolished.fasta.gz filter=lfs diff=lfs merge=lfs -text
polished.fasta.gz filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
